/vendor/
.php~
/nbproject/
/.idea/
/.web-server-pid
/app/config/parameters.yml
/app/config/sylius_parameters.yml
/bin/
/build/
/doc/docker/entrypoint/*/*.sql
/dfsdata
/ezpublish_legacy
/node_modules/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/assets/
/web/bundles/
/web/css/
/web/js/
/web/media/
/web/fonts/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
composer.phar
composer.lock
ide-twig.json
.buildpath
.project
.settings/
behat.yml
.php_cs.cache
auth.json
ide-twig.json
