parameters:
    # EZ PLATFORM & SYLIUS INTEGRATION PARAMETERS

    ez_sylius.shop_path_prefix: /shop
    ez_sylius.shop_api_path_prefix: /sylius/api
    ez_sylius.shop_admin_path_prefix: /sylius/admin
